.nav{
    display: flex;
    flex-direction: row-reverse;
}
.nav-btn{
    margin-top: 1.2em;
    margin-right: 1em;
}
.navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}
.logo{

}
button{
    background-color: white;
    border: 2px solid transparent;
    padding: 1em;
    font-size: 1.1em;
}
button:hover {
    border-bottom-color: #2A3151;
}
button:focus {
    outline: none;
}