html,
body {
  width: 100%;
  height: 100%;

  margin: 0.1%;
  padding: 0;

  background-color: #FFFAF3;
  background-attachment: fixed;

  font-family: Raleway, serif;
}

h2 {
  align-self: end;
  display: flex;
  flex-flow: column;
  color: #EF5455;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 2rem 0 0 2rem;
}

.links {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;

  a {
    text-decoration: none;
    margin: 1rem;
  }
}

.card-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;


  @media screen and (max-width: 768px) {
    flex-flow: column;
  }
}